<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="container-md">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Detail Teacher</h6>
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>
Name : <%= @teacher.nik %> </br>
Username : <%= @teacher.name%> </br>
Age : <%= @teacher.age %> </br>
Kelas : <%= @teacher.kelas %> </br>
<%= link_to 'Back', teachers_path, class: "btn btn-info" %>
</div>
</div>