<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
   <br> 
<%= link_to 'Back', exams_path, class: "btn btn-primary"%>
<div class="container-md">
<div class="card" style="width: 40rem;">
 

  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Edit Exam</h6>
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>
<%= form_for(@exam) do |f| %>
    <%= f.label :title %> </br>
    <%= f.text_field :title, class: "form-control"%> </br>

    <%= f.label :mapel %> </br>
    <%= f.text_field :mapel, class: "form-control"%> </br>

    <%= f.label :duration%> </br>
    <%= f.text_field :duration, class: "form-control"%> </br>

    <%= f.label :nilai %> </br>
    <%= f.text_field :nilai, class: "form-control"%> </br>

    <%= f.label :aktif %> </br>
    <%= f.text_field :aktif, class: "form-control"%> </br>

    <%= f.label :level %> </br>
    <%= f.text_field :level, class: "form-control"%> </br>

    <%= f.label :student_id %> </br>
    <%= f.text_field :student_id, class: "form-control"%> </br>

    <%= f.submit %>
    
    </div>
    </div>

<% end %>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>